<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dojos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/name_input.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- linking a javascript file -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script> -->
</head>
    <body>
        <div class="container jumbotron">
            <h3>Welcome to Whats Your Name</h3>
            {% with messages = get_flashed_messages() %} 
                {% if messages %} 
                    {% for message in messages %}
                        <p class="alert alert-danger fade in">{{message}}</p>
                    {% endfor %}
                {% endif %} 
            {% endwith %}
            <form action='/process' method='post'>
                <div class="form-group">
                    Email: <input type='text' class="form-control" id="email" name="email">
                    First Name: <input type='text' class="form-control" id="first_name" name="first_name">
                    Last Name: <input type='text' class="form-control" id="last_name" name="last_name">
                    Password: <input type='text' class="form-control" id="password" name="password">
                    Confirm: <input type='text' class="form-control" id="confirm_password" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form> 
            <form action='/signIn' method='post'>
                <div class="form-group">
                    Email: <input type='text' class="form-control" id="email" name="email">
                    Password: <input type='text' class="form-control" id="password" name="password">    
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>   
    </body>
</html>